.legend {
  font-size: 2rem;
}

.radioGroup {
  label {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    span:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
