
.footer {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 10rem;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: #ffffff;

  @media (max-width: 981px) {
    padding: 0.5rem 2rem;
  }


}

.button {
  border: none;
  background: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  outline: 2px solid transparent;

  &:hover {
    border-radius: 5px;
  }
}
