.footer {
  border-top: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.5rem 10rem;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  border: none;
  background: none;
  font-size: 2rem;
}
