@import '../../variables.scss';

.title {
  margin-bottom: 2rem !important;

  @media (max-width: 480px) {
    font-size: 5rem !important;
  }
}

.linkList {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 3rem;

  @media (max-width: $mobile) {
    margin-bottom: auto;
  }
}

.linkItem {
  margin-bottom: 1rem;
}
